<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tinderproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tinder Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinderProject"
        android:exported="true"
        tools:replace="android:label"
        tools:node="merge">

        <activity
            android:name=".Chat.ChatActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".BtnDisLikeActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".BtnLikeActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".SettingActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".Matches.MatchesActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            tools:node="merge" />
        <activity
            android:name=".Choose_Login_And_Reg"
            android:exported="true"
            android:noHistory="true"
            tools:node="merge" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            tools:node="merge" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.onesignal.BootUpReceiver" android:exported="true" tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true" tools:node="merge" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver android:name="com.onesignal.UpgradeReceiver" android:exported="true" tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.onesignal.FCMBroadcastReceiver" android:exported="true" tools:node="merge">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>



</manifest>